.btn {
        outline:0;
        padding:12px 18px;
        border:1px solid transparent;
        border-radius:6px;
        font-weight:500;
        cursor:pointer;
        transition:0.3s;
        background-color:var(--primary-light);
        color:#fff;
        font-weight:450;
}

.btn:hover {
        background-color:var(--primary-dark)
}

